.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 2em;
}

.app-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: white;
  padding: 8px 0;
}

.app-content {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.app-content > div {
  flex-grow: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
