.canvas {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.canvas-header {
    font-size: 1.4rem;
    margin-bottom: 16px;
}

.canvas-actions {
    display: flex;
    margin-top: 16px;
}

.canvas-actions > button {
    padding: 16px;
    font-size: 1rem;
}

.canvas-actions > button + button {
    margin-left: 16px;
}
