.training {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.training .controls {
    margin: 16px 0;
    display: flex;
    font-size: 1rem;
    align-items: center;
}

.training .controls input {
    width: 4em;
    margin-left: 8px;
    margin-right: 32px;
    padding: 8px;
    font-size: 1rem;
}

.training .controls button {
    padding: 8px;
    font-size: 1rem;
    width: 4em;
}

.training > .training-controls > * + * {
    margin-left: 16px;
}

.training > .training-charts {
    margin-top: 16px;
}
